* {box-sizing:border-box}

body{
	background-image: url("../img/fundopersonagens.jpg");
	background-size: 20cm;
}

.container { 
	width: 1300px;
	margin-right: auto;  
	margin-left: auto;
	display: flex;  flex-wrap: wrap;
}


.cabecalho {  
	order: 1;
     text-align: center;
    color:green;
    text-align: center;

    font: italic bold 20px ariaOCR A Std, monospace;
	border-bottom: 1px solid orange;  
	
	margin-bottom: 10px;   
    opacity: 0.8;
	width: 100%;  
	display: flex;
    left: 10cm;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.corpo {  
	width: 100%;
	order: 3;
    border-left: 1px dashed #000000;  
	padding: 10px;
	background:orange;
    opacity: 1;
    font: italic bold 20px ariaOCR A Std, monospace; 
}
	

h2, h3{
    color: blue;
}
.corpo img{
    width: 250px;
	height: auto;
    opacity: 1;
    border-radius: 20%;
}

.rodape {  
	order: 5;
	border-top: 1px solid #000000;  
	padding: 30px;
	margin-top: 20px;
	width: 100%;  
	display: flex;  
}
.column {
    float: left;
    width: 25%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .btn{
    order:4;
    font-family: ariaOCR A Std, monospace;
    text-transform: uppercase;
    padding: auto;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    background: green;
    color: #fff;
    box-shadow: 0 5px 0 orangered;
} 

@media screen and (max-width: 970px) {
    .container {
      width: 700px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .container {
      width: 500px;
    }
  
    nav {
      width: 100%;
      order: 2;
  
    }
  
    main {
      width: 100%;
      order: 3;
      border-right: none;
    }
  
    header {
      flex-wrap:wrap;
      justify-content: center;
    }
  
    header h1 {
      display: none;
    }
  }
  
  @media screen and (max-width: 570px) {
    body {
      margin: 0;
    }
    
    .container {
      width: 100%;
    }
  
    main h3 {
      width: 100%;
    }
  
    main figure {
      float: none;
      margin: 0;
      width: 100%;
    }
  
  }