* {box-sizing:border-box}

body{
	background-image: url("../img/Start-Up.jpg");
	background-size: 20cm; 
}

.container { 
  display:grid;
	grid-template-columns: 
	    150px 2fr auto;  	
	grid-template-rows:	auto;  
	grid-template-areas:
		"cab cab cab"  
		"corpo corpo corpo"  	
		"rod rod rod";
	grid-gap: 50px;
    background-position: center;
  width: 1300px;
  margin-right: auto;  
  margin-left: auto;
  
}


.cabecalho {  
  grid-area: cab;
	order: 1;
  color: black;
  font: italic bold 20px ariaOCR A Std, monospace;
	border-bottom: 1px solid green;  
	padding: 10px;
	margin-bottom: 10px;   
  opacity: 1;
	width: 100%;  
  font-size: clamp(1em, 1em + 1vw, 1.5em);

}
header{
  display: flex;  
  justify-content: center;

}

.corpo {  
  grid-area: corpo;
	width: 100%;
	order: 3;
	border-left: 1px dashed #000000;  
	padding: 10px;
	background:white;
  opacity: 0.9;
	
}
.corpo img{
  width: 300px;
	height: auto;
  opacity: 1;
  border-radius: 20%;
}

.rodape { 
  grid-area: rod;
 	order: 5;
	border-top: 1px solid #000000;  
	padding: 30px;
	margin-top: 20px;
	width: 100%;  
	display: flex;  
}

  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 10%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .btn{
    order:4;
    font-family: ariaOCR A Std, monospace;
    text-transform: uppercase;
    padding: auto;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    background: blue;
    color: #fff;
    box-shadow: 0 5px 0 black;
}

@media screen and (max-width: 970px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 500px;
  }


  main {
    width: 100%;
    order: 2;
    border-right: none;
  }

  header {
    flex-wrap:wrap;
    justify-content: center;
  }

  header h1 {
    display: flex;
   justify-content: space-between;
   align-itens: center;
   flex-wrap: wrap;
  }
}

@media screen and (max-width: 570px) {
  body {
    margin: 0;
  }
  
  .container {
    width: 100%;
  }

  main h3 {
    width: 100%;
  }

  main figure {
    float: none;
    margin: 0;
    width: 100%;
  }

}