* {box-sizing:border-box}

body{
	background-image: url("../img/Start-Up.jpg");
	background-size: 20cm; 
}

.container { 
	width: 1300px;
	margin-right: auto;  
	margin-left: auto;
	display: flex;  flex-wrap: wrap;
}


.cabecalho {  
	order: 1;
    color: black;
    font: italic bold 20px ariaOCR A Std, monospace;
	border-bottom: 1px solid green;  
	padding: 10px;
	margin-bottom: 10px;   
    opacity: 1;
	width: 100%;  
	display: flex;  
}

.corpo {  
	width: 100%;
	order: 3;
	border-left: 1px dashed #000000;  
	padding: 10px;
	background:white;
    opacity: 0.9;
	
}
.corpo img{
    width: 300px;
	height: auto;
    opacity: 1;
    border-radius: 20%;
}

.rodape {  
	order: 5;
	border-top: 1px solid #000000;  
	padding: 30px;
	margin-top: 20px;
	width: 100%;  
	display: flex;  
}

  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 10%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .btn{
    order:4;
    font-family: ariaOCR A Std, monospace;
    text-transform: uppercase;
    padding: auto;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    background: blue;
    color: #fff;
    box-shadow: 0 5px 0 black;
}



/*.imagem{
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: 20%;
}

.imagem cursor{
    width: 100%;
    height: auto;
    opacity: 1;
    border-radius: 20%; 
} eu tentei colocar essas classes pra ajustar as imagens 

  