* {box-sizing:border-box}

body{
	background-image: url("../img/The\ kdrama\ start\ up.jpg");
	background-size: 10cm;
}

.container { 
    display:grid;
	grid-template-columns: 
	    150px 2fr auto;  	
	grid-template-rows:	auto;  
	grid-template-areas:
		"cab cab cab"  
		"corpo corpo corpo"  	
		"rod rod rod";
	grid-gap: 50px;
    background-position: center;
	width: 1300px;
	margin-right: auto;  
	margin-left: auto;
	
}


.cabecalho {  
    grid-area: cab;
	order: 1;
    color: orange;
    text-align: center;
    font: italic bold 20px ariaOCR A Std, monospace;
	border-bottom: 1px solid orange;  
	margin-bottom: 10px;   
    opacity: 0.8;
	width: 100%;  
    left: 10cm;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
   
}

header{
    display: flex;  
    justify-content: center;
  
  }

.corpo {  
    grid-area: corpo;
    width: 100%;
	order: 3;
    border-left: 1px dashed #000000;  
	padding: 10px;
	background:#87CEEB;
    opacity: 0.9;
    font: italic bold 20px ariaOCR A Std, monospace; 
}
p{
    color: #4F4F4F;
}
	

h2, h3{
    color:#008000;
}
.corpo img{
    width: 250px;
	height: auto;
    opacity: 1;
    border-radius: 20%;
}

.rodape {  
    grid-area: rod;
    order: 5;
	border-top: 1px solid #000000;  
	padding: 30px;
	margin-top: 20px;
	width: 100%;  
	 

}
.btn{
    order:4;
    font-family: ariaOCR A Std, monospace;
    text-transform: uppercase;
    padding: auto;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    background: orange;
    color: #fff;
    box-shadow: 0 5px 0 orangered;
} 

@media screen and (max-width: 970px) {
    .container {
      width: 700px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .container {
      width: 500px;
    }
  
  
    main {
      width: 100%;
      order: 2;
      border-right: none;
    }
  
    header {
      flex-wrap:wrap;
      justify-content: center;
    }
  
    header h1 {
      display: flex;
     justify-content: space-between;
     align-itens: center;
     flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 570px) {
    body {
      margin: 0;
    }
    
    .container {
      width: 100%;
    }
  
    main h3 {
      width: 100%;
    }
  
    main figure {
      float: none;
      margin: 0;
      width: 100%;
    }
  
  }